@using Sih3Papua.Helpers;
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] | SIH3 Papua</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	@* <link rel="stylesheet" href="~/Sih3Papua.styles.css" asp-append-version="true" /> *@

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Ganti Font Awesome 4.7 dengan versi terbaru -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

	<link rel="stylesheet" href="~/css/animate.css">

	<link rel="stylesheet" href="~/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="~/css/magnific-popup.css">

	<link rel="stylesheet" href="~/css/ionicons.min.css">

	<link rel="stylesheet" href="~/css/flaticon.css">
	<link rel="stylesheet" href="~/css/icomoon.css">
	<link rel="stylesheet" href="~/css/style.css">
</head>

<body>
	<div class="container pt-5">
		<div class="row justify-content-between align-items-center">
			<div class="col d-flex align-items-center">
				<a class="navbar-brand d-flex align-items-center" href="index.html">
					<img src="~/images/logo-pu.png" alt="Logo BWS K1" style="height: 50px; margin-right: 15px;">
					<div class="text-start">
						<h6 class="mb-0 fw-bold text-uppercase" style="font-size: 14px; color: #252525;">BALAI WILAYAH
							SUNGAI PAPUA</h6>
						<div style="font-size: 12px; color: #364c61;">
							Sistem Informasi Hirodologi,<br />
							Hidrogeologi & Hidrometeorologi
						</div>
					</div>
				</a>
			</div>
			<div class="col d-flex justify-content-end">
				<div class="social-media">
					<p class="mb-0 d-flex">
						<a href="https://facebook.com/bws.papua"
							class="d-flex align-items-center justify-content-center"><span class="fab fa-facebook-f"><i
									class="sr-only">Facebook</i></span></a>
						<a href="https://youtube.com/@@pusdapapua/featured"
							class="d-flex align-items-center justify-content-center"><span class="fab fa-youtube"><i
									class="sr-only">Youtube</i></span></a>
						<a href="https://instagram.com/pu_sda_papua"
							class="d-flex align-items-center justify-content-center"><span class="fab fa-instagram"><i
									class="sr-only">Instagram</i></span></a>
						<a href="https://sda.pu.go.id/balai/bwspapua"
							class="d-flex align-items-center justify-content-center"><span class="fas fa-globe"><i
									class="sr-only">Website</i></span></a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
				aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fa fa-bars"></span> Menu
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav me-auto">
					<li
						class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" ? "active" : "")">
						<a asp-controller="Home" asp-action="Index" class="nav-link">Beranda</a>
					</li>
					<li
						class="nav-item dropdown @(ViewContext.RouteData.Values["controller"]?.ToString() == "Artikel" ? "active" : "")">
					</li>
					<li
						class="nav-item dropdown @(new[] { "Artikel", "Berita", "Profile" }.Contains(ViewContext.RouteData.Values["action"]?.ToString()) ? "active" : "")">
						<a class="nav-link dropdown-toggle" href="#" id="informasiDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							Informasi
						</a>
						<ul class="dropdown-menu" aria-labelledby="informasiDropdown">
							<li>
								<a asp-controller="Informasi" asp-action="Artikel"
									class="dropdown-item @(ViewContext.RouteData.Values["action"]?.ToString() == "Artikel" ? "active" : "")">
									Artikel</a>
							</li>
							<li>
								<a asp-controller="Informasi" asp-action="Berita"
									class="dropdown-item @(ViewContext.RouteData.Values["action"]?.ToString() == "Berita" ? "active" : "")">
									Berita</a>
							</li>
							<li>
								<a asp-controller="Informasi" asp-action="Profile"
									class="dropdown-item @(ViewContext.RouteData.Values["action"]?.ToString() == "Profile" ? "active" : "")">
									Profile</a>
							</li>
						</ul>
					</li>


					<li class="nav-item">
						<a class="nav-link dropdown-toggle" href="#">Data H3 </a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="#">Data Hidrologi</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="https://telemetrisihkabwspapua.higertech.com/"
											target="_blank">Monitoring
											telemetri</a>
									</li>
									<li><a class="dropdown-item" href="https://sihka.pusair-pu.go.id/"
											target="_blank">SIHKA</a>
									</li>
								</ul>
							<li>
								<a class="dropdown-item" href="#">Data Hidrogeologi</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="#">DATABASE DINAS ESDM</a></li>
								</ul>
							</li>
							<li>
								<a class="dropdown-item" href="#">Data Hidrometeorologi</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="https://www.bmkg.go.id/">Informasi Cuaca BMKG</a>
									</li>
								</ul>
							</li>
					</li>
				</ul>
				</li>

				<li
					class="nav-item dropdown @(ViewContext.RouteData.Values["controller"]?.ToString() == "Hidrologi" || ViewContext.RouteData.Values["controller"]?.ToString() == "Hidrometeorologi" || ViewContext.RouteData.Values["controller"]?.ToString() == "Hidrogeologi" ? "active" : "")">
					<a class="nav-link dropdown-toggle" href="#" id="informasiDropdown" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">
						Geospasial
					</a>
					<ul class="dropdown-menu" aria-labelledby="informasiDropdown">
						<li>
							<a asp-controller="Hidrologi" asp-action="Index"
								class="dropdown-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Hidrologi" ? "active" : "")">Data
								Hidrologi</a>
						</li>
						<li>
							<a asp-controller="Hidrogeologi" asp-action="Index"
								class="dropdown-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Hidrogeologi" ? "active" : "")">Data
								Hidrogeologi</a>
						</li>
						<li>
							<a asp-controller="Hidrometeorologi" asp-action="Index"
								class="dropdown-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Hidrometeorologi" ? "active" : "")">Data
								Hidrometeorologi</a>
						</li>
						<li>
							<a class="dropdown-item" href="https://sihka.pusair-pu.go.id/" target="_blank">SIHKA</a>
						</li>
					</ul>
				</li>



				<li
					class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Dokumen" ? "active" : "")">
					<a asp-controller="Dokumen" asp-action="Index" class="nav-link">Dokumen</a>
				</li>
				<li
					class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Kontak" ? "active" : "")">
					<a asp-controller="Kontak" asp-action="Index" class="nav-link">Kontak</a>
				</li>
				</ul>

				<div class="d-flex ms-auto align-items-center" style="margin-top: 15px;">
					@if (!string.IsNullOrEmpty(ClaimIdentity.Name))
					{
						<a href="/Admin" class="btn btn-warning btn-login">Admin Area <i
								class="fa-solid fa-sign-in"></i></a>
					}
					else
					{
						<a href="/Auth/Login" class="btn btn-warning btn-login">Login <i
								class="fa-solid fa-sign-in"></i></a>
					}
				</div>
			</div>

		</div>
	</nav>

	@* <div class="container"> *@
	<main role="main" class="pb-3">
		@RenderBody()
	</main>
	@* </div> *@

	<footer class="footer">
		<div class="container-fluid px-lg-5">
			<div class="row">
				<div class="col-md-12 py-5">
					<div class="row">
						<div class="col-md-4 mb-md-0 mb-4">
							<h2 class="footer-heading">About us</h2>
							<p>merupakan sistem informasi hidrologi, hidrometeorologi dan hidrogeologi yang memberikan
								akses pelayanan data secara online.</p>
							<ul class="ftco-footer-social p-0">
								<li class="ftco-animate"><a href="https://youtube.com/@@pusdapapua/featured"
										data-toggle="tooltip" data-placement="top" title="Youtube"><span
											class="ion-logo-youtube"></span></a></li>
								<li class="ftco-animate"><a href="https://facebook.com/bws.papua" data-toggle="tooltip"
										data-placement="top" title="Facebook"><span
											class="ion-logo-facebook"></span></a></li>
								<li class="ftco-animate"><a href="https://instagram.com/pu_sda_papua"
										data-toggle="tooltip" data-placement="top" title="Instagram"><span
											class="ion-logo-instagram"></span></a></li>
								<li class="ftco-animate"><a href="https://sda.pu.go.id/balai/bwspapua"
										data-toggle="tooltip" data-placement="top" title="Website"><span
											class="fas fa-globe"></span></a></li>
							</ul>
						</div>
						<div class="col-md-8">
							<div class="row justify-content-center">
								<div class="col-md-12 col-lg-10">
									<div class="row">
										<div class="col-md-6 mb-md-0 mb-4">
											<h2 class="footer-heading">Resources</h2>
											<ul class="list-unstyled">
												<li><a href="#" class="py-1 d-block">Article</a></li>
												<li><a href="#" class="py-1 d-block">Hidrologi</a></li>
												<li><a href="#" class="py-1 d-block">Hidrogeologi</a></li>
												<li><a href="#" class="py-1 d-block">Hidrometeorologi</a></li>
											</ul>
										</div>
										<div class="col-md-6 mb-md-0 mb-4">
											<h2 class="footer-heading">Find Us</h2>
											<p>Jl. Raya Abepura Wahno, Samping Kompleks Otonom, Abepura, Kota Jayapura,
												Papua, 99225.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-md-5">
						<div class="col-md-12 text-center">
							<p class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;
								<script>document.write(new Date().getFullYear());</script> All rights reserved | BWS
								PAPUA
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<div id="ftco-loader" class="show fullscreen">
		<svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
				stroke="#F96D00" />
		</svg>
	</div>

	<script src="~/js/jquery.min.js"></script>
	<script src="~/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="~/js/popper.min.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/jquery.easing.1.3.js"></script>
	<script src="~/js/jquery.waypoints.min.js"></script>
	<script src="~/js/jquery.stellar.min.js"></script>
	<script src="~/js/jquery.animateNumber.min.js"></script>
	<script src="~/js/owl.carousel.min.js"></script>
	<script src="~/js/jquery.magnific-popup.min.js"></script>
	<script src="~/js/scrollax.min.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="~/js/google-map.js"></script>
	<script src="~/js/main.js"></script>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
	@await RenderSectionAsync("Styles", required: false)
</body>

</html>