@{
    ViewBag.Title = "Artikel";
}

<section class="container my-5">
    <h2 class="mb-4 fw-bold">Artikel SIH3 Kepri</h2>

    <!-- Baris Pertama -->
    <div class="row d-flex mb-4">
        <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
                <a href="blog-single.html" class="block-20 rounded"
                    style="background-image: url('@Url.Content("~/images/image_1.jpg")');">
                </a>

                <div class="text mt-3 text-center">
                    <div class="meta mb-2">
                        <div><a href="#">January 30, 2020</a></div>
                        <div><a href="#">Admin</a></div>
                        <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                    </div>
                    <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind
                            texts</a></h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
                <a href="blog-single.html" class="block-20 rounded"
                    style="background-image: url('@Url.Content("~/images/image_2.jpg")');">
                </a>

                <div class="text mt-3 text-center">
                    <div class="meta mb-2">
                        <div><a href="#">January 31, 2020</a></div>
                        <div><a href="#">Admin</a></div>
                        <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 5</a></div>
                    </div>
                    <h3 class="heading"><a href="#">Another interesting article title goes here</a></h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
                <a href="blog-single.html" class="block-20 rounded"
                    style="background-image: url('@Url.Content("~/images/image_3.jpg")');">
                </a>

                <div class="text mt-3 text-center">
                    <div class="meta mb-2">
                        <div><a href="#">February 1, 2020</a></div>
                        <div><a href="#">Admin</a></div>
                        <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 7</a></div>
                    </div>
                    <h3 class="heading"><a href="#">Sample article title for the first row</a></h3>
                </div>
            </div>
        </div>
    </div>

    <!-- Baris Kedua -->
    <div class="row d-flex">
        <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
                <a href="blog-single.html" class="block-20 rounded"
                    style="background-image: url('@Url.Content("~/images/image_4.jpg")');">
                </a>

                <div class="text mt-3 text-center">
                    <div class="meta mb-2">
                        <div><a href="#">February 2, 2020</a></div>
                        <div><a href="#">Admin</a></div>
                        <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 2</a></div>
                    </div>
                    <h3 class="heading"><a href="#">More article examples in the second row</a></h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
                <a href="blog-single.html" class="block-20 rounded"
                    style="background-image: url('@Url.Content("~/images/image_5.jpg")');">
                </a>

                <div class="text mt-3 text-center">
                    <div class="meta mb-2">
                        <div><a href="#">February 3, 2020</a></div>
                        <div><a href="#">Admin</a></div>
                        <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 4</a></div>
                    </div>
                    <h3 class="heading"><a href="#">Title for another news article</a></h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
                <a href="blog-single.html" class="block-20 rounded"
                    style="background-image: url('@Url.Content("~/images/image_6.jpg")');">
                </a>

                <div class="text mt-3 text-center">
                    <div class="meta mb-2">
                        <div><a href="#">February 4, 2020</a></div>
                        <div><a href="#">Admin</a></div>
                        <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 6</a></div>
                    </div>
                    <h3 class="heading"><a href="#">Final article in second row</a></h3>
                </div>
            </div>
        </div>
    </div>
</section>
